.sectionNewsL {
    background: #F7F7F7;
}

.NewsLContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px calc((100% - 960px)/2);
}

.newsletter {
    flex: 1 1 260px;
    padding: 0 20px;
}

.newsletter h1 {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #A4A4A4;
}

.newsletter p {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    color: #A4A4A4;
}

.assinar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    flex: 2 1 260px;
    align-self: center;
}

.assinar input {
    border: 4px solid blue;
    border-radius: 0px;
    background: transparent;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    flex: 3 1 200px;
}

.assinar button {
    background: blue;
    border: 4px solid blue;
    font-size: 2.25em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 15px 10px;
    margin: 0px;
    border: 0px;
    flex: 1 1 200px;
}